{% extends 'notifyapp/basic.html' %}
{% block title %}Contact{% endblock%}
{% load static %}
{% block body %}
<div class="container">
	<div class="jumbotron">
		<p>Hello! I'm Gulsher. I'm a Web Developer. I develop Web apps and Android apps</p>
		<div class="container">
			<h4>I use resources to create a website</h4>
			<ol>
				<li>For Frontend
					<ol type="i">
						<li>HTML</li>
						<li>CSS</li>
						<li>BootStrap</li>
						<li>JavaScript</li>
						<li>JQuery</li>
					</ol>
				</li>
				<br/>
				<li>For Backend
					<ol type="i">
						<li>Django</li>
						<li>Flask</li>
						<li>Python</li>
					</ol>
				</li>
				
			</ol>
			<br/>
			<i>
			<p>Contact me to make a responsive website or android app.</p>
			<p><i class="fa fa-envelope" aria-hidden="true"> gulsherkhan0005@gmail.com</i></p>
			<p><i class="fa fa-phone-square" aria-hidden="true"> +91 9996729701 </i></p>
		</i>
		</div>
	</div>
</div>
{% endblock %}