<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <title>{% block title %} {% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, in itial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
     <!-- Header -->

 
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img src="{% static 'notifyapp/images/pika5.png' %}" alt="logo" style="width: 60px;" ></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'contact' %}">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
    <!-- Header Closed -->

  {%block body%}            {% endblock %}

  
      <!-- Footer Start -->
    <div>
    <footer class="flex-rw">

      <ul class="footer-list-top mt-2">
          <li id='help'>
            <h4 style="color: white">SQUIRTLE</h4>
          <img src="{% static 'notifyapp/images/007.png' %}" alt="ICFAI LOGO" width="30%" height="15%" class="img-fluid">

          </li>

        </ul>

        <ul class="footer-list-top mt-5">
          <li>
            <h4 style="color: white">FOLLOW US</h4>
            <section class="footer-social-section flex-rw mt-5">
              <span class="footer-social-overlap footer-social-icons-wrapper">
                <a href="#" class="generic-anchor" target="_blank" title="Facebook" itemprop="significantLink"><i class="fa fa-facebook"></i></a>
                <a href="#" class="generic-anchor" target="_blank" title="Instagram" itemprop="significantLink"><i class="fa fa-instagram"></i></a>
                <a href="#" class="generic-anchor" target="_blank" title="Youtube" itemprop="significantLink"><i class="fa fa-youtube"></i></a>
                <a href="#" class="generic-anchor" target="_blank" title="Twitter" itemprop="significantLink"><i class="fa fa-twitter"></i></a>

              </span>
            </section>
          </li>
        </ul>

         <ul class="footer-list-top mt-2">
          <li id='help'>
            <h4 style="color: white">CATERPIE</h4>
          <img src="{% static 'notifyapp/images/010.png' %}" alt="ICFAI LOGO" width="30%" height="15%" class="img-fluid">

          </li>

        </ul>

        <p style="color: white" class="mx-auto">Copyright © <a href="https://www.instagram.com/gulsher_khan7/" title="Instagram">Gulsher</a> All rights reserved.
        </p>
      </footer>

      <!-- Footer end -->

    </div>
  <link rel="stylesheet" type="text/css" href="{% static 'notifyapp/css/footer.css' %}">
  {% block js %} 

   {% endblock  %}

</body>
</html>
