{% extends 'notifyapp/basic.html' %}
{% block title %}Home{% endblock %}
{% load static %}

  {% block body %}

    <!-- main section start -->
  
        <div class="jumbotron" style = "margin-bottom: -1px;background-image: url({% static 'notifyapp/images/wall1.jpg' %}")>
      {% if data %}
        {% for detail in data %}
          <center>
          <div class="card" style="width: 70%">
            <div class="card-body bg-light">
              <p class="card-title " style="font-family: Lobster; font-size: 1.2em;"><span class="float-left text-uppercase"><strong>{{ detail.title }}</strong></span> <span class="float-right" style="font-size: 0.7em;">{{ detail.tdate }}</span></p><br/>
              <p class="card-text text-justify">{{ detail.desc }}</p>
              {% if detail.pic %}
                <img src="{{detail.pic.url}}" class="img-fluid zoom">
              </div>
            </div>
            <br/>
            </center>
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>
  
    <!-- main section end -->

    {% endblock %}